{% extends 'main.html' %}
{% load static %}

{% block css %}
    {% comment %} leaflet.css {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
      #cb{
        text-align: center;
      }
      #cb-result {
            display: inline-block;
            text-align: center;
            margin-top: 10px;
        }
      #result{
        width: 500px;
      }
      #video{
        border: 2px solid red;
      }
    </style>
{% endblock css %}


{% block body %}



<div class="container-fluid pt-2">
    <div class="card mb-3 mt-4">

        <div class="card-body ">
          <h5 class="card-title">Red alert zone  </h5>         
        </div>

    </div>

    <div class="row gy-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-0 rounded-4" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-body">
              <h1 class="card-title">Current weather</h1>
              <h3 class="card-title">Details Of .........</h3>
              <h6 class="card-title">Coordinates</h6>
              <h6 class="card-title"><b>Longitude:</b> 2S.627392S, <b>Latitude:</b> 77.1716934</h6>
              <p class="card-text">
                <table>
                  <thead>
                      <tr>
                          <th><h1>29°C</h1>Feels Like : 35</th>
                          <th colspan="3">Maximum temperature: 29°C <br> Minimum temperature: 29°C</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">Humidity</th>
                          <td><b>Cloudiness</b></td>
                          <td><b>Wind Flow</b></td>
                      </tr>
                      <tr>
                          <th scope="row">79%</th>
                          <td>40%</td>
                          <td>Wind Speed: 3.6 m/s <br> Direction: South</td>
                      </tr>
                  </tbody>
              </table> </p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="map" id="map" style="width:600px; height=100px">
            <div id="map-legend">
                <h4>Legend</h4>
                <p><span class="legend-marker" style="background-color: red;"></span> In Denger</p>
            </div>
        </div> 
        </div>
      </div>


      <div class="row gy-3 mt-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bar Chart</h5>
              <p class="card-text"><img src="BarChart.jpg" class="img-fluid" alt="img"></p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Some Text</h5>
              <p class="card-text">sdkjcnbnsdkjcnjdskcndkjcnn ijcnsdcondsicsdnincidncidnc icndscndsijcndsjicndsjn</p>
              
            </div>
          </div>
        </div>
      </div>


      <div class="row gy-3 mt-4" >
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">Table</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">Pie Chart -----</h5>
              
              
            </div>
          </div>
        </div>
      </div>

</div>


<div id="cb" class="card border-0 rounded-4" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"> 
  <h1>Cloudburst Detect For State Kerala</h1>    
  <form id="dateForm">
      <label for="month">Select a Month:</label>
      <select id="month" name="month">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
      </select>

        <label for="year">Enter a Year:</label>
        <input type="text" id="year" name="year" placeholder="Enter year" required>
          
       <input type="submit" value="Submit">
      </form>
      <div id="cb-result">
        <h3>Result:</h3>
        <input type="text" id="result" readonly>
      </div>
      

      <script>
          document.getElementById('dateForm').addEventListener('submit', function(e) {
              e.preventDefault();
              const month = document.getElementById('month').value;
              const year = document.getElementById('year').value;
              var choice=1,str;
              if(choice==1)
                str='will'
              else
                str='will not'
              const resultText = `Cloudburst ${str} happen in ${month}, ${year}`;
              document.getElementById('result').value = resultText;
          });
      </script>
</div>
<div id="video" class="col-sm-6">
      <h2>Upload A Video</h2>
    <form action="/upload_video/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="video">Select Video:</label>
        <input type="file" name="video" id="video" accept="video/*" required><br><br>

        <label for="caption">Caption:</label>
        <textarea name="caption" id="caption" rows="4" required></textarea><br><br>

        <button type="submit">Upload</button>
    </form>
</div>
{% endblock body %}
    
    
{% block JavaScript %}
{% comment %} leaflet.js  {% endcomment %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{% static "js/home.js" %}"></script>
{% endblock JavaScript %}
