{% extends 'main.html' %}
{% load static %}

{% block css %}
    {% comment %} leaflet.css {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
      #cb{
        text-align: center;
        margin-bottom: 20px;
      }
      #cb-result {
            display: inline-block;
            text-align: center;
            margin-top: 10px;
        }
      #result{
        width: 500px;
      }
      #video{
        border: 2px solid red;
        margin-left: 10px;
        margin-bottom: 2px;
      }
    </style>
{% endblock css %}


{% block body %}



<div class="container-fluid pt-2">
    <div class="card mb-3 mt-4">

        <div class="card-body ">
          <h5 class="card-title">Red alert zone  </h5>         
        </div>

    </div>

    <div class="row gy-3">
      <div class="col-sm-8 mb-3 mb-sm-0 mt-4">
        <div class="card border-0 rounded-4 custom-card">
            <div class="card-body">
                <form action="" method="post" class="d-flex custom-search-form" role="search">{% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='city'>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <h1 class="card-title custom-card-title">Current weather</h1>
                <h3 class="card-title custom-card-title">Details Of {{city}}</h3>
                <h6 class="card-title custom-card-title"><b>Sunrise : </b>{{sunrise}}, <b>  Sunset : </b>{{sunset}}    </h6>
                <h6 class="card-title custom-card-title">Coordinates</h6>
                <h6 class="card-title custom-card-title"><b>Longitude:</b> {{lon}}, <b>Latitude:</b> {{lat}}</h6>
                <p class="card-text">
                <table class="custom-table">
                  <thead>
                      <tr>
                          <th><h1>{{celsi}}°C</h1>Feels Like : {{feelsLike}}°C</th>
                          <th colspan="5">Maximum temperature: {{maxTemp}}°C <br> Minimum temperature: {{minTemp}}°C</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">Humidity</th>
                          <td><b>Cloudiness</b></td>
                          <td><b>Wind Flow</b></td>
                          <td><b>Air Pressure</b></td>
                          <td><b>Visibility</b></td>
                      </tr>
                      <tr>
                          <th scope="row">{{humidity}}%</th>
                          <td>{{cloud}}%</td>
                          <td>Wind Speed: {{windSpeed}} m/s <br> Direction: {{direction}}°</td>
                          <td>{{pressure}} hPa</td>
                          <td>{{visibility}} km</td>
                      </tr>
                  </tbody>
              </table> </p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-0 h-100">
              <div class="card-body">
                  <div class="map" id="map" style="width: 100%; max-width: none;">
                      <div id="map-legend">
                          <h4>Legend</h4>
                          <p><span class="legend-marker" style="background-color: red;"></span> In Danger</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      </div>


      <div class="row gy-3 mt-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bar Chart</h5>
              <p class="card-text"><img src="BarChart.jpg" class="img-fluid" alt="img"></p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Some Text</h5>
              <p class="card-text">sdkjcnbnsdkjcnjdskcndkjcnn ijcnsdcondsicsdnincidncidnc icndscndsijcndsjicndsjn</p>
              
            </div>
          </div>
        </div>
      </div>


      <div class="row gy-3 mt-4" >
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">Table</h5>
              <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
              </table>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Pie Chart -----</h5>
                </div>
          </div>
        </div>
    </div>

    <div id="cb" class="card border-0 rounded-4">
      <h1 class="card-title">Cloudburst Detect For State Kerala</h1>
      <form id="dateForm" class="mb-3">
          <div class="form-group">
              <label for="month">Select a Month:</label>
              <select id="month" name="month" class="form-control">
                  <option value=""></option>
                  <option value="January">January</option>
                  <option value="February">February</option>
                  <option value="March">March</option>
                  <option value="April">April</option>
                  <option value="May">May</option>
                  <option value="June">June</option>
                  <option value="July">July</option>
                  <option value="August">August</option>
                  <option value="September">September</option>
                  <option value="October">October</option>
                  <option value="November">November</option>
                  <option value="December">December</option>
              </select>
          </div>
          <div class="form-group">
              <label for="year">Enter a Year:</label>
              <input type="text" id="year" name="year" class="form-control" placeholder="Enter year" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div id="cb-result">
          <h3 class="mt-3">Result:</h3>
          <input type="text" id="result" readonly class="form-control">
      </div>
  </div>
  



      

      <script>
          document.getElementById('dateForm').addEventListener('submit', function(e) {
              e.preventDefault();
              const month = document.getElementById('month').value;
              const year = document.getElementById('year').value;
              var choice=1,str;
              if(choice==1)
                str='will'
              else
                str='will not'
              const resultText = `Cloudburst ${str} happen in ${month}, ${year}`;
              document.getElementById('result').value = resultText;
          });
      </script>
</div>
<div id="video" class="col-sm-6">
      <h2>Upload A Video</h2>
    <form action="/upload_video/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="video">Select Video:</label>
        <input type="file" name="video" id="video" accept="video/*" required><br><br>

        <label for="caption">Caption:</label>
        <textarea name="caption" id="caption" rows="4" required></textarea><br><br>

        <button type="submit">Upload</button>
    </form>
</div>
{% endblock body %}
    
    
{% block JavaScript %}
{% comment %} leaflet.js  {% endcomment %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{% static "js/home.js" %}"></script>
{% endblock JavaScript %}
