{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudBurst</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}
    
    {% endblock css %}

</head>
<body>

    {% comment %} navbar {% endcomment %}
    <nav class="nav" id="nav">
        <div class="leftComponent">
            <p class="header">CloudBurst</p>
            <input type="text" placeholder="State" list="states" class="input_field"/>
            <datalist id='states'>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                    <option value="NCT of Delhi">NCT of Delhi</option> 
            </datalist>
            <button class="input_field help" type="button">Help</button>
        </div>

        <div class="rightComponent">
            <input type="text" class="input_field"/>
            <button class="input_field help" type="button">Search</button>
            <button type="button" class="input_field">Sign Up</button>
        </div>
    </nav>


    {% comment %} for coontent of the body   {% endcomment %}
    {% block body %}
    
    {% endblock body %}

</body>

</html>
{% comment %} for any js code  {% endcomment %}
{% block JavaScript %}

{% endblock JavaScript %}