body{
    margin: 0;
    padding: 0;
    background-color: rgb(226, 228, 232);
}
/* .nav{
    display: flex;
    justify-content: space-around ;
    background-color: rgb(110, 110, 219);
    margin: 1em .5em;
    padding: .5em 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(65, 64, 64);
    align-items: center;

} 

.leftComponent{
    display: inline;
    justify-content: space-around;
    
} 

.header{
    display: inline;
} 

.leftComponent .header{
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.input_field{
    border: 1px solid rgb(234, 146, 30);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(65, 64, 64);;
} */